body{
  background-color: gainsboro;
}



p {
	font-size: 20px;
}

img {
	width: 530px;
	height: 330px;
}

.Micss {
	height: 25px;
	line-height: 0px;
}

input {
	border: 0px;
	background-color: rgba(0, 0, 0, 0.12);
	width: 40px;
	height: 40px;
	text-align: center;
}